* {
  user-select: none;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

button {
  background: maroon;
  color: white;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  margin-bottom: 4rem;
}

button:hover {
  background-color: darken(maroon, 10%)
}

.alert {
  height: 80px;
  box-sizing: border-box;
  background-color: #eee;
  border-radius: 1rem;
  border: 2px solid #555;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}